body{


	font-family: "Roboto", Helvetica,Arial,sans-sarif;
	font-size: 14px;
	line-height: 1.42887143
	color: #333333;
	background-color: #f0f0f0f0;
}


#top{
	background-color: #555555;
	padding: 10px 0;
}
#top .offer{
	color: #fff;
}
#top .offer .btn{
	text-transform: uppercase;
}

@media(max-height: 991px){
	#top .offer{
		margin-bottom: 10px;
	}
}

@media(max-height: 991px){
	#top {
		font-size: 10px;
		text-align: center;
	}
}

#top a{
	color:#fff;
}

#top ul.menu{
     padding-top: 5px;
     margin:0;
     text-align: right;
     font-size: 12px;
     list-style: none;
}
@media(max-height: 991px){
	#top ul.menu{
		text-align: center;
	}
}
#top ul.menu{
	text-align: center;
}
#top ul.menu >li{
	display: inline;
}

#top ul.menu > li a{
	color: #eeeeee;
}
#top ul.menu > li + li:before{
	content:"|\00a0";
	padding: 0 5px;
	color:#f7f7f7;
}

.navbar img{
	height: 50px;
	width: 80px;
}

/* header style */

.navbar{
	background: white;  
}

.navbar-collapse .right{
	float: right;
}
.navbar-brand{
	float: left;
	padding: 10px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 70px;
}
.navbar-brand:hover,
.navbar-brand:focus{
	text-decoration: none;
}

.navbar ul.nav >li> a{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}

.padding-nav{
	padding-top: 10px;
}
.navbar ul.nav > li > a:hover{
	background:#e7e7e7;
}
.btn-primary{
	color:rgb(255,255,255);
	background-color: rgb(79,191,168);
	border-color: rgb(65,179,156);
}


#search .navbar-form{
	float: right;
}
#search{
	clear: both;
	border-top: solid 1px #9adacd;
	text-align: right;
}
#search .navbar-form .input-group{
	display: table;
}
#search .navbar-form .input .form-control{
	width: 100%;

}

/*slider*/


#slider{
	margin-bottom: 40px;
	border:none;
}

/*advantage tag*/

.box{

	background: #fff;
	margin:  0 0 30px;
	border: solid 1px #e6e6e6;
	padding: 20px;
	box-shadow: 0 1px 5px rgb(0,0,0,0.1);
}
#advantage{
	text-align: center;

}
#advantage .box .icon{
	position: absolute;
	font-size: 120px;
	width: 100%
    text-align: center;
	top: -20px;
    right: 35%;
	height: 100%;
	float: left;
	color:#eeeeee;
	transition: all 0.2s ease-out;
    z-index: 1;
    box-sizing: border-box;

}
#advantage .box h3{
	position: relative;
	margin:0 0 20px;
	font-weight: 300;
	text-transform: uppercase;
	z-index: 2;
}
#advantage .box h3 a{
	text-decoration: none;
}
#advantage .box p{
	position: relative;
	color:555555;
	z-index: 2;
}

#hot h2{
	text-transform: uppercase;
	font-size: 36px;
	color:#4993e4;
	font-weight: 100;
	text-align: center;

}




/*style for shop product*/
#extra .text{
	background-color: white;
	padding: 3px 10px;
	margin-bottom: 20px;

}
#extra .text h3 a{
	color:black;
	
     font-size: 20px;
}



/*product*/
#content{
	padding-left: 25px;
}
.single{
	width: 290px

}

@media (max-width: 768px){
	.single{
		width: 60%;
		margin: 0 auto;
	}
}
#content .product
{
	background: #fff;
	border:solid 1px #e6e6e6;
	box-sizing: border-box;
	margin-bottom: 30px;
}


#content .product .text p.price{
  font-size: 18px;
  text-align: center;
  font-weight: 300;

}

#content .product .text .button{
	clear: both;
	text-align: center;
}
#content .product .text h3{
	text-align: center;
	font-size: 20px;
}
#content .product .text h3 a{
	color:rgb(85,85,85);
}
#content .product .text {
	padding:10px 10px 10px;
}

#content .product .text .button .btn{
	margin-bottom: 10px;
}
/*product categories*/

#content .panel.sidebar-menu{
	box-sizing: border-box;
	box-shadow: 0  1px 5px rgba(0,0,0,0,1)
}

#content .panel.sidebar-menu ul.nav.category-menu{
	margin-bottom: 20px;
}
#content .panel.sidebar-menu ul.nav.category-menu li a{
	text-transform: uppercase;
	font-weight: bold;
}
#content .panel.sidebar-menu h3{
	padding: 5px 0;
	margin:0;
}



/*breadcrumb section*/
.breadcrumb{
     padding: 8px 15px;
     margin-bottom: 20px;
     background-color: #ffffff;
     border-radius: 0;
     box-shadow: 0 1px 5px rgba(0,0,0,0.5)
}

.breadcrumb >li+li:before{
	content:">\00a0";
	color:#cccccc;
}

@media (max-width: 991px){
	.breadcrumb{
		padding: 8px 0;
		text-align: center;
	}
}


/*details style*/
#content #productmain{

margin-bottom: 30px;

}

#content #productmain .price{
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	margin-top: 40px;
}
#content #mainimage{
	box-shadow: 0 1px 5px rgba(0,0,0,0.7)
}

#content .thumb a{
	display: block;
	box-shadow: 0 1px 5px rgba(0,0,0,0.2)
	border:solid 2px transparent;
   
}

#content .headline{
	height: 275px;
}

/*Cart style*/

#content #cart .table tbody tr td img{
	width: 50px
}

#content #cart .table tbody tr td input{
	width: 40px;
	text-align: right;
}
#content #cart .table tbody tr td{
	vertical-align: middle;
}
#content #cart .table tfoot{
	font-size: 18px 0;
}
.box .box-footer{
	background:#f7f7f7;
	margin:30px -20px  -20px;
	padding:20px;
	border-top:solid 1px #eeeeee;
}
.box .box-footer:before,
.box .box-footer:after{
	content: " ";
	display: table;
}
.box .box-footer:after{
	clear: both;
}

.box .box-header{
	background:#f7f7f7;
	margin:-20px -20px 20px;
	padding: 20px;
	border-bottom: solid 1px #eeeeee;
}
#content #order-summary table{
  margin-top: 20px;
}
#content #order-summary table td{
	color:999999;
}
#content #order-summary table tr.table td,
#content #order-summary table tr.table th{
	font-size: 18px;
	color:#555555;
	font-weight: 700;
}






/*foooter style*/


#footer{

	background:#e0e0e0;
	padding: 20px 0;
}

#footer ul{
	padding-left: 0;
	list-style: none;
}

#footer ul a{
	color:#999999;
	padding: 20px 0;
}
#footer .social{
	text-align: left;
}
#footer .social a{
	margin: 0 10px 0 0;
	color:#fff;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	line-height: 30px;
	font-size: 15px;
	text-align: center;
	transform: all 0.2s ease-out;
	vertical-align: bottom;
	background-color: #555555;
}

/* copyright section */
#copyright{
background: #333;
color:#ccc;
padding: 20px;
font-size: 12px;
}

 #copyright p{
 	margin:0;
 }

